if SHIELD_HENKI_LEFT

config ZMK_KEYBOARD_NAME
    default "hEnki"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HENKI_LEFT || SHIELD_HENKI_RIGHT

config ZMK_SPLIT
    default y

endif
